
<html>
<head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">
  </head>
<body>
<nav class="navbar navbar-dark bg-dark static-top">
      <div class="container">
      	<div class="row">
      	<div class="col">
        <a class="navbar-brand" href="#">Gestion des employees</a>
        </div>
        <div class="col">
        <button routerLink="/list-employee" routerLinkActive="active"  class="btn  btn-primary">La liste de votre staff</button>
        </div>
        <div class="col">
        <button routerLink="/add-employee"  routerLinkActive="active" class="btn btn-dark">Fiche de recrutement</button>
      	</div>
      	</div>
      	</div>
     
    </nav>
 <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
</html>